<h1>His Links</h1>
<p class>My Links! (yes :D all of them)</p>

<div id="linksContainer">
    <div id="linksInventory">
        <div id="linksLeft">
            <p class="links">Github</p>
            <p class="links">Resume</p>
            <p class="links">Twitter</p>
            <p class="links">Instagram</p>
            <p class="links">LinkedIn</p>
            <p class="links">Discord</p>
            <p class="links">|---- Scroll ----|</p>
            <p class="links">Spotify</p>
            <p class="links">MAL</p>
            <p class="links">MAL</p>
        </div>
        <div id="linksRight">
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
        </div>
    </div>
</div>

