<h1>About Him</h1>
<p class>Information about me!</p>

<div id="aboutContainer">
    <div id="aboutInventory">
        <div id="aboutItems">
            <button class="aboutItem">Info</button>
            <button class="aboutItem" id="skills">Skills</button>
            <button class="aboutItem" id="exp">Experience</button>
            <button class="aboutItem" id="extra">Extra</button>
        </div>

        <div id="aboutDescription">
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            
        </div>
    </div>
</div>

