<h1>His Links</h1>
<p class>My Links! (yes :D all of them)</p>

<div id="linksContainer">
    <div id="linksInventory">
        <div id="linksItems">
            <button class="linkItem">Github</button>
            <button class="linkItem">Resume</button>
            <button class="linkItem">LinkedIn</button>
            <button class="linkItem">Twitter</button>
            <button class="linkItem">Instagram</button>
            <button class="linkItem">Email</button>
            <p class="links">|--- Scroll ---|</p>
            <button class="linkItem">YouTube</button>
            <button class="linkItem">Twitch</button>
            <button class="linkItem">Discord</button>
            <button class="linkItem">Spotify</button>
            <button class="linkItem">MAL</button>
        </div>
        <div id="linksDescription">
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
            <div><img src="/static/home/videos/ralsGif.gif" width="50px" height="50px" alt="Test"></div>
        </div>
    </div>
</div>

